
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&family=Roboto:wght@300;700&display=swap');



a{
  text-decoration: none;
  color: #232325;
  font-family: 'Noto Sans', sans-serif ,'Roboto', sans-serif;
}

img{
  vertical-align: middle;
}

section{
  padding: 0 20px;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif ,'Roboto', sans-serif;
  background: #232325;
}

@media screen and (min-width:768px){
  section{
    min-height: 100vh;
  }
}


.container{
  max-width: 1200px;
  margin: auto;
  width: 100%;
}



.title{
  padding-bottom: 25px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 6.5vw; /*50px/768*100*/
}

@media screen and (min-width:768px){
  .title{
    font-size: 50px;
  }
}

.button{
  display: inline-block;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 2px solid #232325;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
  transition: .3s;
}

.button:hover{
  color: #F0B900;
  background: #000;
}


.loading{
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: 10;
  background: #F0B900;
}


.loading .pic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loading img{
  animation-name:roll;
  animation-duration:5s;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*全共用區結束---------------------------*/


/*menu-----------------------------------*/
.headerMain{
  padding: 0 20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid #000;
  background:  #F0B900;
  transition: .3s;
}


@media screen and (min-width:768px){
  .headerMain.active{
    background:  #232325;
    border-color: #F0B900;
  }
}

.navMain{
  padding: 20px;
}

.navMain a{
  font-size: 18px;
  letter-spacing: 1.5px;
  padding-bottom: 2px;
  border: 0px solid transparent;
  color:#000;
  transition: .3s;
}

.navMain a:hover{
  border-bottom: 1px solid #232325;
}

.navMain a + a{
  margin-left: 40px;
}

@media screen and (min-width:768px){
  .navMain a.active{
    color:#F0B900;
  }
  
  .navMain a.active:hover{
    border-bottom: 1px solid #F0B900;
  }
}






/*cover共用區-------------------------------*/
.cover{
  display: flex;
}

.cover{
  padding-top: 80px;
  padding-bottom: 80px;
}


@media screen and (min-width:768px){
  .cover .itemGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.cover .pic{
  margin: auto;
}

@media screen and (min-width:768px){
  .cover .pic{
    margin: 0;
    width: 50%;
  }

  .cover .txt{
    width: 50%;
  }
}

.cover .pic img{
  width: 100%;
}


.cover .title:after{
  content: '';
  display: block;
  margin-top: 10px;
  width: 50px;
  height: 5px;
  background: #000;
  box-shadow: 30px 10px 0 0 #000;
}

.cover .button{
  margin-top: 25px;
}
/*cover共用區-------------------------------*/


.cover.perspective{
  background: #F0B900;
}

.cover.perspective:nth-child(even){
  background: #232325;
}


@media screen and (min-width:768px){
  .cover.perspective .txt{
    width: calc(50% - 50px);
    margin-left:50px;
    padding: 30px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #232325;
    border-width: 1px;
    border-right-width: 5px;
    border-bottom-width: 5px;
  }

  .cover.perspective:nth-child(even) .txt{
    margin-left: 0;
    margin-right:50px;
    border-color: #F0B900
    ;
    border-right-width: 1px;
    border-left-width: 5px;
  } 
}



.cover.perspective .pic{
  position: relative;
  margin-bottom: 50px;
  box-shadow: 0 20px 0 -10px rgba(0,0,0,1),
              0 50px 0 -30px rgba(0,0,0,.6);
  cursor: pointer;
  transition:  .3s ease;
}

.cover.perspective .pic a{
  display: block;
}

@media screen and (min-width:768px){
  .cover.perspective .pic{
    transform: perspective(1200px) rotateY(25deg);
    box-shadow: -50px 0 0 -30px rgba(0,0,0,1),
                -100px 0 0 -60px rgba(0,0,0,.6);
  }

}



@media screen and (min-width:768px){
  .cover.perspective:nth-child(even) .pic{
    order: 0;
    transform: perspective(1200px) rotateY(-25deg);
    box-shadow: 50px 0 0 -30px rgba(0,0,0,1),
                100px 0 0 -60px rgba(0,0,0,.6);
  }

  .cover.perspective:nth-child(even) .pic{
    order: 2;
  }
}


.cover.perspective .pic:hover {
  transform: rotateY(0);
  box-shadow: 0 0px 0 0 transparent,
              0 0px 0 0 transparent;
}



/*針對768px以下裝置的樣式做調整*/
@media screen and (max-width:767px){
  .cover.perspective .txt{
    text-align: center;
  }

  .cover.perspective .title{
    padding-bottom: 0;
  }
  
  .cover.perspective .title:after{
    margin: auto;
    box-shadow: none;
  }
  
  .cover.perspective .title h2{
    margin-bottom: 20px;
  }
}





.cover.perspective:nth-child(even) .title{
  color: #F0B900;
}

.cover.perspective:nth-child(even) .title:after{
  background: #F0B900;
}

@media screen and (min-width:768px){
  .cover.perspective:nth-child(even) .title:after{
    box-shadow: 30px 10px 0 0 #F0B900;
  }
}

.cover.perspective:nth-child(even) .button{
  color: #F0B900;
  border: 2px solid #F0B900;
}

.cover.perspective:nth-child(even) .button:hover{
  color: #232325;
  background: #F0B900;
}


.overlay:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0,.6);
  z-index: 5;
  opacity: 0;
  transition: opacity .3s ease;
}

.overlay:after{
  content: 'Read More';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #FFF;
  padding: 10px 15px;
  background: rgba(255,255,255,.5);
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  opacity: 0;
  z-index: 5;
  transition: opacity .3s ease;
}



.cover.perspective .pic:hover .overlay:before,
.cover.perspective .pic:hover .overlay:after{
  opacity: 1;
}



/*封面區結束--------------------------------------*/
.cover.inside{
  
  position: relative;
  background: #F0B900;
}

.cover.inside:after{
  content: '';
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 0;
  right: 0;
  background: #232325;
} 




.cover.inside .pic{
  margin: auto;
  box-shadow: -5px -10px 20px 10px rgba(0,0,0,.2);
}

@media screen and (min-width:768px){
  .cover.inside .pic{
    margin: 0;
  }
}



.cover.inside .pic,
.cover.inside .txt{
  position: relative;
  z-index: 1;
}


.cover.inside .txt{
  padding-left:0px;
}

@media screen and (min-width:768px){
  .cover.inside .title{
    color: #F0B900;
  }

  .cover.inside .title:after{
    content: '';
    background: #F0B900;
    box-shadow: 30px 10px 0 0 #F0B900;
  }
}






/*aboutMe區塊開始--------------------------------------------*/
.aboutMe{
  display: flex;
  align-items: center;
}

.aboutMe .container{
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

@media screen and (min-width:768px){
  .aboutMe .container{
    border:  5px solid #F0B900;
  }
}

@media screen and (min-width:992px){
  .aboutMe .container{
    padding-top: 80px;
    padding-bottom: 150px;
  }
}

.aboutMe .itemGroup{
  position: relative;
}

.aboutMe img{
  width: 100%;
}

.aboutMe .title{
  color:#F0B900;
}

.aboutMe .item{
  background: #FFF;
  position: relative;
}

@media screen and (min-width:768px){
  .aboutMe .title{
   padding-left: 20px;
  }

  .aboutMe .item{
    display: flex;
    justify-content: center;
    margin: 0 25px;
  }


  .aboutMe .pic{
    width: 35%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}



.aboutMe .txt{
  padding: 20px;
  box-sizing: border-box;
  line-height: 2;
  text-align: justify;
}

@media screen and (min-width:768px){
  .aboutMe .txt{
    padding: 25px;
    padding-right: calc(35% + 20px);
    order: -1;
    font-size: 18px;
  }
}

.aboutMe .txt h3{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.aboutMe .txt p + p{
  margin-top: 25px;
}

.aboutMe .txt .skill{
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}


@media screen and (min-width:768px){
  .aboutMe .txt .skill{
    justify-content: flex-start;
  }

  .aboutMe .skill .icon{
    max-width: 70px;
  }
}

.aboutMe .skill .icon + .icon{
  margin-left: 20px;
}







/*resume區塊開始--------------------------------------------*/
.resume{
  display: flex;
  color: #fff;
  background: #233b71;
}


.resume .container{
  width: 100%;
  padding: 25px 0;
}


@media screen and (min-width:768px){
  .resume .container{
    border: 5px solid #F0B900;
    box-sizing: border-box;
  }
}

.resume .itemGroup{
  position: relative;
}


@media screen and (min-width:768px){
  .resume .title{
    padding-left: 25px;
  }
}



.timeLine{
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  background: #233b71;
}

@media screen and (min-width:768px){
  .timeLine{
    padding: 0;
    margin: 0 25px;
    padding-top:80px;/*給最後的li的absolute留空間*/
    box-sizing: border-box;
  }
}

.timeLine li{
  display: flex;
  justify-content:center;
  position: relative; /*給time手機板參照位置*/
}

.timeLine li + li{
  margin-bottom: 40px;
}

.timeLine li:last-child{
  margin-bottom: 0;
}

@media screen and (min-width:768px){
  
  .timeLine li + li,
  .timeLine li:last-child{
    margin-bottom: 40px;
  }
}


.timeLine li:nth-child(2) h3{
  display: flex;
  flex-direction: column-reverse;
}

.timeLine li:nth-child(2) span{
  order: -1;
}

/*時間軸3大塊col容器調整區---------------------------*/
.timeLine .colNode{
  width: 15%;
  position: relative;
}

.timeLine .colTxt{
  width: 85%;
  padding-left: 10px;
  box-sizing: border-box;
}

.timeLine time{
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 16px;
  color: #666;
  font-family: 'Roboto', sans-serif;
}


@media screen and (min-width:768px){
  .timeLine .colNode{
    width: 10%;
  }

  .timeLine .colTxt{
    width: 45%;
    padding-left: 0; /*移除手機板的padding*/
  }

  .timeLine li:nth-child(even) .colTxt{
    position: relative;
    left: -55%;
  }

  .timeLine .colTime{
    width: 45%;
    order: -1;
    text-align: right;
  }

  .timeLine li:nth-child(even) .colTime{
    position: relative;
    left: 55%;
    text-align: left;
  }

  .timeLine .colTime time{
    position: relative;
    top: 18px;
    left: 0;
    color:#FFF;
  }

  
}
/*時間軸3大塊col容器調整區---------------------------*/


/*最後li特殊處理------------------------------------*/
.timeLine li:last-child .txt{
  background: transparent;
  box-shadow:none;
  font-size: 24px;
}

.timeLine li:last-child h3{
  border-radius: 0 0 10px 10px;
}


@media screen and (min-width:768px){
  .timeLine li:last-child{
    display: block;
  }

  .timeLine li:last-child .colTxt{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

@media screen and (min-width:768px){
  .timeLine li:last-child .colNode{
    width: 100%;
  }
}
 

/*最後li特殊處理結束------------------------------------*/




.timeLine li:first-child .timeNode:before{
  content: none;
}


.timeLine .timeNode img{
  margin-top: -15px;
  width: 50px;   
}

.timeLine li .timeNode:after{ /*小圓點*/
  content: '\f005';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  display: block;
  line-height: 48px;
  margin: auto;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}



@media screen and (min-width:768px){
  .timeLine li:first-child .timeNode:after{ /*火箭圓圈*/
    cursor: pointer;
    animation: ripple 3s linear infinite;
    
  }

  .timeLine li:first-child .timeNode.active:after{ 
    animation-iteration-count:0;
  }
}


@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(58, 222, 255,0.2),
                0 0 0 10px rgba(58, 222, 255, 0.2),
                0 0 0 25px rgba(58, 222, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(58, 222, 255, 0.2),
                0 0 0 25px rgba(58, 222, 255, 0.4),
                0 0 0 40px rgba(58, 222, 255, 0);
  }
}


.resume .rocket{  /*火箭*/
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  transition: 0s;
  cursor: pointer;
}

@media screen and (min-width:768px){
  .resume .rocket.active{ /*火箭*/
    top: -490px;
    transition: top 3s;
  }


  .timeLine li:last-child .txt.active:before{
    border-color:  #F0B900 transparent transparent transparent;
    transition: 1s 3s;
  }

  .timeLine li:last-child .txt.active h3,
  .timeLine li:last-child .txt.active span{
    color:#232325;
    font-weight: 700;
    transition: 1s 3s;
  }

  .timeLine li:last-child .txt.active h3{
    background: #F0B900;
  }

}





.timeLine li:nth-child(3n+1) .timeNode:after{
  background-color: #00c2e8;
}

.timeLine li:nth-child(3n+2) .timeNode:after{
  background-color: #E13C49;
}

.timeLine li:nth-child(3n+3) .timeNode:after{
  background-color: #F0B900;
}


.timeLine .timeNode:before{  /*裝飾線*/
  content: '';
  width: 1px;
  position: absolute;
  top: 0;
  bottom: -80px;
  left: 50%;
  transform:translateX(-50%);
  background-color: #FFF;
}



.timeLine .txt{
  position: relative;
  margin-left: 10px;  /*需與三角形大小連動---------*/
  padding-bottom: 40px; /*預留放置time的空間*/
  border-radius: 10px;
  line-height: 1.5;
  background: #FFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width:768px){
  .timeLine .txt{
    padding-bottom: 10px; /*扣除放置time的空間*/
  }
}



@media screen and (min-width:768px){
  .timeLine li:nth-child(even) .txt{
    margin-left: 0;
    margin-right: 10px; /*需與三角形大小連動---------*/ 
  }
}

.timeLine .txt:before{  /*三角形----------------*/
  content: '';
  position: absolute;
  left: -10px;  /*需與三角形大小連動---------*/
  top: 18px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 10px 0px;
}

.timeLine li:nth-child(3n+1) .txt:before{
  border-color: transparent #00c2e8 transparent transparent;
}

.timeLine li:nth-child(3n+2) .txt:before{
  border-color: transparent #E13C49 transparent transparent;
}

.timeLine li:nth-child(3n+3) .txt:before{
  border-color: transparent #F0B900 transparent transparent;
}


/*偶數的三角形要相反，因此顏色要跟著換*/
@media screen and (min-width:768px){
  .timeLine li:nth-child(even) .txt:before{
    left: auto;
    right: -10px; /*需與三角形大小連動---------*/
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent #E13C49;
  }
}

/*最後一個三角形位置要置中*/
@media screen and (min-width:768px){
  .timeLine li:last-child .txt{
    margin-right: 0;/*清除.txt設定值*/
  }

  .timeLine li:last-child .txt:before{
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: 0;
    border-width: 10px 10px 0 10px;
    border-color: #00c2e8 transparent transparent transparent;
  }
}



.timeLine .txt h3{
  font-size: 24px;
  font-weight: 500;
  color: #FFF;
}

.timeLine .txt h3{
  padding: 10px 20px;
}



.timeLine li:nth-child(3n+1) h3{
  background-color: #00c2e8;
}

.timeLine li:nth-child(4n+2) h3{
  background-color: #E13C49;
}

.timeLine li:nth-child(4n+3) h3{
  background-color: #F0B900;
}

.timeLine .txt p{
  padding: 10px 20px;
}

.timeLine .txt span{
  display: block;
  padding-top: 5px;
  font-size: 16px;
  color: #666;
}



.footerMain{
  padding: 40px 0;
  background: #F0B900;
  text-align: center;
  font-family: 'Noto Sans', sans-serif ,'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
}



.footerMain p{
  color: #232325 ;
}
























